.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 1184px;
    margin: 92px auto 92px;
    justify-content: center;
}

@media screen and (max-width: 1184px) {
    .photo-grid {
        min-width: 320px;
        gap: 14px;
        margin: 92px auto;
        padding: 0 48px;
    }
}

@media screen and (max-width: 932px) {
    .photo-grid {
        gap: 16px;
        margin: 88px auto;
        padding: 0 24px;
    }
}

@media screen and (max-width: 720px) {
    .photo-grid {
        max-width: 320px;
        grid-template-columns: 90vw;
        gap: 12px;
        margin: 64px auto;
        padding: 0;
    }    
}