.intro {
    max-width: 690px;
    margin: 92px 0 0;
}

@media screen and (max-width: 928px) {
    .intro {
        padding: 0 24px;
        max-width: 720px;
        margin: 88px 0 0;
    }
}

@media screen and (max-width: 720px) {
    .intro {
        padding: 0 16px;
        max-width: 100vw;
        margin: 64px auto 0;
    }
}

@media screen and (min-width: 1184px) {
    .intro {
        padding-left: calc((100vw - 984px)/2);
    }    
}

@media screen and (max-width: 1184px) and (min-width: 928px) {
    .intro {
        padding-left: calc((100vw - 928px)/2);
    }
}