.cover__background {
    background-image: url(../../../img/cover__background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 740px;
    max-width: 1184px;
    margin: 92px auto 92px;
    text-decoration: none;
    color: #FFFFFF;

}
.cover__background::before {
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.cover__background:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1184px) {
    .cover__background {
        min-width: 320px;
        width: 100%;
        min-height: 62.5vw;
    }
}

@media screen and (max-width: 932px) {
    .cover__background {
        margin: 90px auto 88px;
    }
}

@media screen and (max-width: 720px) {
    .cover__background {
        margin: 16px auto 64px;
    }    
}

@media screen and (min-width: 1184px) {
    .cover__background {
        margin-left: calc((100vw - 1184px)/2);
    }    
}