.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 40px;
    margin: 0 0 80px;
    
}

@media screen and (max-width: 1184px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 932px) {
    .place {
        gap: 48px 28px;
    }
}

@media screen and (max-width: 720px) {
    .place {
        grid-template-columns: 320px;
        margin: 0;
        gap: 32px;
    }
}